<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="script.DAY01"/>
      <class name="script.DAY02"/>
      <class name="script.DAY03"/>
      <class name="script.DAY04"/>
      <class name="script.DAY05"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
